body{
    margin : 0;
    padding : 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 10px;
}


button{
    background-color: #5f9341;
    color: white;
    border: 1px solid #5f9341;
    width: 100px;
    height: 35px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#tab-btn{
    background-color: aqua;
    color: white;
    border: 1px solid #5f9341;
    width: 100px;
    height: 35px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#delete-btn{
    background-color: #ffffff;
    border: 1px solid #5f9341;
    color: #5f9341;
    margin-left: 10px;
    width: 100px;
    height: 35px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

input{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 2.5px solid #5f9341;
    padding-left: 10px;
    padding-right: 10px;
}

li{
    margin-top: 10px;
    color: #5f9341;
}

li a{
    text-decoration: none;
    color: #5f9341;
}

